package ${packageName}.service.impl;

import java.util.List;
import java.util.Map;
#if($dataSourceName!="" && $dataSourceName!="MASTER")
import com.ruoyi.common.annotation.DataSource;
import com.ruoyi.common.enums.DataSourceType;
#end
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import com.ruoyi.common.utils.DateUtils;
#break
#end
#end
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.service.I${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
#if($dataSourceName!="" && $dataSourceName!="MASTER")
@DataSource(value = DataSourceType.${dataSourceName})
#end
public class ${ClassName}ServiceImpl implements I${ClassName}Service 
{
    @Autowired
    private ${ClassName}Mapper ${className}Mapper;

    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}
     */
    @Override
    public List<Map<String, Object>> select${ClassName}List(Map<String, Object> ${className})
    {
        return ${className}Mapper.select${ClassName}List(${className});
    }
}
