package ${packageName}.service;

import java.util.List;
import java.util.Map;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service 
{
    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    public List<Map<String, Object>> select${ClassName}List(Map<String, Object> ${className});
}
