import request from '@/utils/request'

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/list',
    method: 'get',
    params: query
  })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: 'get'
  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'post',
    data: data
  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'put',
    data: data
  })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: 'delete'
  })
}

// 导出${functionName}
export function export${BusinessName}(query) {
  return request({
    url: '/${moduleName}/${businessName}/export',
    method: 'get',
    params: query
  })
}
#foreach($column in $columns)
#if(${column.linkTable}!="" && ${column.linkField}!=${column.javaLinkShowField})
// 查询${column.javaLinkTable}列表
export function allList${column.linkTableClass}(query) {
  return request({
    url: '/${moduleName}/${column.linkBusinessName}/allList',
    method: 'get',
    params: query
  })
}
#end
#if(${column.linkTable}!="" && ${column.filterField}!="")
#set($filterFieldName=$column.javaFilterField.substring(0,1).toUpperCase()+$column.javaFilterField.substring(1,$column.javaFilterField.length()))
// 根据${column.javaFilterField}查询${column.javaLinkTable}列表
export function ${column.javaLinkTable}ListBy${filterFieldName}(${column.javaFilterField}) {
  return request({
    url: '/${moduleName}/${businessName}/${column.javaLinkTable}/' + ${column.javaFilterField},
    method: 'get'
  })
}
#end
#end
